	
	.blackText {
   font-family: Arial, Sans-serif;
   color: #000000;
   font-size: 17px;
   text-align: left;
}

.redText {
   font-family: Arial, Sans-serif;
   color: #ff0000;
   font-size: 11px;
   text-align: left;
}

.loginButton {
   border: 1px solid #3399DD;
   color: #FFFFFF;
   background: #555555;
   font-size: 20px;
   font-weight: bold;
   margin: 0 5px 0 0;
   padding: 4px 10px 5px;
   text-shadow: 0 -1px 0 #3399DD;
 
}
.loginButton:active {
    vertical-align: top;
    padding: 5px 8px 3px;
}

.box {
   border: 1px solid #AACCEE;
   display: block;
   font-size: 12px;
   margin: 0 0 5px;
   padding: 3px;
   width: 203px;
   margin-left:22px;
   height:20px;
}

.background {
  
   border: 1px none transparent;
   color: #000000;
   font-size: 11px;
   margin-left: -8px;
   margin-top: 5px;
   padding: 6px;
}
.img{
	margin-left:30px;
	
}

	.x{
	float:left;
	
}

.box2
{
	 border: 1px solid #AACCEE;
   display: block;
   font-size: 12px;
   margin: 0 0 5px;
   padding: 3px;
   width: 203px;
   margin-left:35px;
   height:20px;

}
.back{
	
    background-image: url("images/background.jpg")
	}